        .bg{
            background-image: url(../image/account/bg.jpg);
            height: 589px;
            margin-top: 90px;
            margin-bottom: 216px;
        }
        .container{
            background-color: #7D7D7D;
            position: absolute;
            top: 150px;
            left: 50%;
            transform: translateX(-50%);
            width: 1371px;
            /* height: 628px; */
            border-radius: 10px;
            border: #fff solid 1px;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 30px 0;
        }
        .form{
            padding:30px 22px 35px ;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap:29px 0;
        }
        input{
            margin-top: 9px;
            width: 650px;
            height: 50px;
            box-sizing: border-box;
            font-size: 20px;
            padding-left: 10px;
        }
        label:last-child input{
            width: 1320px;
        }
        p{
            font-size: 20px;
        }