        .bg{
            background-image: url(../image/account/bg.jpg);
            background-size: cover;
            height: 589px;
            margin-top: 90px;
            margin-bottom: 216px;
        }
        .container{
            background-color: #7D7D7D;
            position: absolute;
            top: 150px;
            left: 50%;
            transform: translateX(-50%);
            width: 1320px;
            border-radius: 10px;
            border: #fff solid 1px;
            padding: 30px;
        }
        .container h1{
            text-align: center;
        }
        .form{
            padding:30px 0 ;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap:30px 0;
        }
        input{
            margin-top: 9px;
            width: 630px;
            height: 50px;
            box-sizing: border-box;
            font-size: 20px;
            padding-left: 10px;
        }
        label:last-child input{
            width: 1320px;
        }
        .container p{
            font-size: 20px;
        }
        .container a{
            margin: auto;
        }