/* 整個容器 */
.container{
    margin: 120px auto;
    background-color: #000;
    width: 600px;
    padding: 30px 0;
}
/* 標題 */
.container .title{
    text-align: center;
    line-height: 50px;
}


/* 按鈕 */
.container form button{
    margin-top: 30px;
    box-sizing: border-box;
    display: block;
    width: 80%;
    height: 50px;
    font-size: 20px;
    line-height: 44px;
    text-align: center;
    border: #00FFFF 3px solid;
    color: #00FFFF;
    background-color: unset;
    border-radius: 4px;
    transition: .3s;
    cursor: pointer;
}
.container form button:hover{
    color: #000;
    background-color: #00FFFF;
}

/* 輸入框 */
.container form{
    padding: 20px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.container .input-label{
    display: block;
    width: 80%;
    position: relative;
}
.input-label input{
    border: 1px #8a8a8a solid;
    border-radius: 4px;
    margin: auto;
    padding-left: 10px;
    height: 48px;
    width: 100%;
    background-color: #000;
    color: #fff;
}
.container input::placeholder{
    color: #fff;
}

/* 同意 */
.checkbox-label{
    margin-top: 20px;
    margin-left: 10%;
    /* width: 80%; */
    align-self: start;
    display: flex;
    gap: 5px;
}
.checkbox-label a{
    text-decoration: underline;
    cursor: pointer;
}
.checkbox-label a:hover{
    color: #00FFFF;
}
.checkbox-label .check{
    width: 16px;
    margin-right: 5px;
}


/* 其他登入 */
.other{
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 40px; */
    position: relative;
}
.other p{
    position: absolute;
    top: -12px;
    background-color: #000;
}
.other-icons{
    display: flex;
    gap: 40px;
    padding:40px 40px;
    border-top: 1px #8a8a8a solid;
    /* background-color: #fff; */
}
.other-icons .icon{
    width: 60px;
    height: 60px;
    background-color: #fff;
    /* border: 2px #00FFFF solid; */
    border-radius: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;
    cursor: pointer;
}


/*眼睛  */
.input-label .material-symbols-outlined{
    position: absolute;
    top: 13px;
    right: 10px;
    color: #8a8a8a;
}
.input-label .material-symbols-outlined:hover{
    cursor: pointer;
    color: #fff;
}