                /* #region footer */
        footer{
            height: 115px;
            width: 100%;
            background-color: #000;
        }
        .footer-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .footer-icons{
            display: flex;
            gap: 23px;
        }
         /* #endregion */