/* #region header區塊 */
header {
    background-color: #000;
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
/* 圖標 */
.material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 40
}


.header-nav {
    margin: 0 70px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.show1{
    display: none !important;
}

/* 漢堡 */
.left-nav{
    display: none;
}
.hb {
    width: 80px;
    height: 80px;
    position: relative;
    display: block;
}
.hb span {
    display: block;
    position: absolute;
    width: 30%;
    height: 2px;
    left: 0;
    right: 0;
    background-color: #fff;
    margin: auto;
    transition: .3s;
}
.hb .bar1 {
    top: 30px;
    rotate: 0deg;
    transition: top .3s .3s, rotate .3s 0s;
}
.hb .bar2 {
    top: 39px;
    opacity: 1;
}
.hb .bar3 {
    top: 48px;
    rotate: 0deg;
    transition: top .3s .3s, rotate .3s 0s;
}
.hb:has(:checked) .bar2 {
    opacity: 0;
}
.hb:has(:checked) .bar1 {
    background-color: #000;
    top: 39px;
    rotate: 45deg;
    transition: top .3s 0s, rotate .3s .3s;
    height: 2px;
}
.hb:has(:checked) .bar3 {
    background-color: #000;
    top: 39px;
    rotate: -225deg;
    transition: top .3s 0s, rotate .3s .3s;
    height: 2px;
}
.hb input{
    display: none;
}


/* logo */
header .logo{
    /* width: 100px; */
    height: 40px;
}
header .logo img{
    height: 100%;
    /* width: 100%; */
}


/* 中間清單 */
.nav-box{
    height: 100%;
}
.nav-list {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    /* transition: .3s; */
}
.nav-li{
    width: 140px;
    height: auto;
    /* border-radius: 4px; */
    text-align: center;
    line-height: 90px;
    transition: .3s;
}
.nav-li .nav-a {
    display: block;
    width: 140px;
    height: 100%;
    /* background-color: #00FFFF; */
    /* border-radius: 4px; */
    text-align: center;
    line-height: 90px;
    transition: .3s;
}
.nolink{
    position: relative;
}
.menu-label{
    display: block;
    cursor: pointer;
    height: 100%
}
.menu-label input{
    display: none;
}
.nolink:hover{
    /* background-color: #00FFFF; */
    color: #FF0066;
}
.menu{
    position: absolute;
    top: 100%;
    left: 20px;
    background-color: #fff;
    transition: .3s;
    height: 0;
    /* height: 200px; */
    overflow: hidden;
    width: 200px;
    text-align: start;
}
.nolink:hover .menu{
    height: 120px;
}
.menu li a{
    display: block;
    padding-left: 20px;
    color: #000;
    line-height: 60px;
}
.menu li:hover{
    background-color: #eee;
}
.nav-a:hover {
    /* background-color: #00FFFF; */
    color: #FF0066;
}



.nav-icons {
    display: flex;
}

.nav-icons #uer-icon {
    margin-right: 50px;
}
#cart-icon{
    cursor: pointer;
}



/* 購物車 */
.cart-cover{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}
.cart-box{
    position: fixed;
    right: 0;
    top: 0;
    width: 0px;
    height: 100%;
    background-color: #000;
    transition: .3s;
    z-index: 111;
    overflow: hidden;
}

.cart-header{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.cart-header h3{
    font-size: 24px;
}
.cart-header button{
    color: #fff;
}

.cart-content{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
}
.cart-item{
    display: flex;
    padding: 20px;
}
.cart-img{
    width: 150px;
    height: 150px;
    flex-shrink: 0;
}
.cart-img img{
    width: 100%;
}
.cart-text{
    width: 100%;
    padding: 20px;
    /* border: #ececec 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart-text>p{
    font-size: 20px;
}
.cart-text-bottom .count-box{
    width: fit-content;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px 5px;
    border-radius: 4px;
    font-size: 16px;
    gap: 10px;
    background: white;
}
.cart-bt{
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0 5px;
}
.cart-value{
    width: 20px;
    text-align: center;
    font-size: 16px;
    color: black;
}
.cart-text-bottom{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.cart-content .checkout{
    border-top: #3f3f3f 1px solid;
    padding: 40px 20px 0;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 24px;
    
}
.cart-content .checkout p{
    font-size: 24px;
}
.cart-content .checkout .btn{
    cursor: pointer;
}
.cart-header .material-symbols-outlined{
    cursor: pointer;
}

.cart-none{
    padding: 20px;
    display: none;
}

.cart-cover.active{
    display: block;
}
.cart-box.active{
    width: 600px;
}
.cart-content.active{
    display: flex;
}
.cart-none.active{
    display: block;
}
/* #endregion */


@media screen and (max-width: 1024px){
    .show1{
        display: block !important;
    }
    .header-nav{
        margin: 0 30px 0 10px;
    }
    
    .nav-box{
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        background-color: #fff;
        color: #000;
        transition: .3s;
        /* overflow: hidden; */
    }
    .nav-list{
        display: block;
    }
    .nav-list .nav-li:last-child{
        border-bottom: #ececec 1px solid;
    }
    .nav-list .nav-li:first-child{
        margin-top: 90px;
        border-top: #ececec 1px solid;
    }
    .left-nav:has(:checked)~.nav-box{
        left: 0;
    }
    .nav-li{
        width: 100%;
        /* background-color: red; */
    }
    .nav-li>.nav-a{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 30px;
    }
    .nav-list a{
        color: #000;
    }
    .menu{
        position: static; /* 取消定位 */
        top: unset;
        left: unset;
        width: 100%;
    }
    .nolink .menu-label{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 30px;
        flex-wrap: wrap;
    }
    .nolink:hover .menu{
        height:0;
    }
    .menu-label input:checked~.menu{
        height: 120px;
    }
    .menu-label .add{
        width: 24px;
        height: 24px;
        position: relative;
        /* border: #000 1px solid; */
    }
    .add span{
        position: absolute;
        left: 0;
        right: 0;
        top:10px;
        margin: auto;
        display: block;
        width: 50%;
        height: 2px;
        background-color: #000;
        transition: .3s;
    }
    .menu-label input:checked+.add .add-bar1{
        rotate: 360deg;
    }
    .add .add-bar1{
        rotate: 90deg;
    }

    .menu li a{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .left-nav{
    display: block;
    position: relative;
    z-index: 99;
}
    
}


@media screen and (max-width: 600px){
    .cart-box.active{
        width: 100vw;
    }
    .cart-img{
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 515px){
    .nav-icons #uer-icon {
    margin-right: 30px;
}
}