/* #region banner區塊 */
.banner {
    margin-top: 90px;
    width: 100%;
    height: 740px;
    background-image: url(../image/index/banner.jpg);
    /* background-color: #00FFFF; */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.banner-content {
    margin-left: 15vw;
}

.banner-content p {
    width: 430px;
    margin: 20px 0;
}

/* #endregion */

/* #region new區塊 */
.new {
    padding-top: 100px;
    padding-bottom: 180px;
}

.new-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
}

.new-title h2 {
    margin-bottom: 16px;
}

.new-header .more {
    color: #00FFFF;
}

.new-content {
    display: flex;
    justify-content: space-between;
}

.new-item {
    width: 400px;
    transition: .3s;
}
.new-item:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px 10px #ffffff25;
}
.new-item .new-img img{
    width: 100%;
}
.new-text {
    /* background-color: #1d1d1d7e; */
    margin-top: 9px;
}
.new-text{
    padding: 16px;
}
.new-text h5 {
    margin: 14px 0;
}
/* #endregion */

/* #region about區塊 */
.about{
    padding: 80px 0;
}
.about-container{
    display: flex;
    align-items: center;
}
.about-text{
    padding-right:  112px;
}
.about-text .dec{
    margin-top: 16px;
    margin-bottom: 32px;
}
.about-text p {
    margin-bottom: 24px;
    
}
/* #endregion */

/* #region 熱銷區塊 */
.hot{
    padding-top: 127px;
    padding-bottom: 100px;
}
.hot-container h2{
    text-align: center;
}
.hot-item{
    width: 315px;
    /* display: flex; */
    background: #000000;
}
.hot-item a{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hot-text{
    width: 286px;
    text-align: center;
    color: #00FFFF;
}
.hot-text p{
    margin-top: 16px;
}
.hot-img{
    margin-top: 60px;
    height: 300px;
    width: 250px;
}
.hot-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    /* #endregion */

/* #region swiper */
.swiper {
    padding-top: 50px;
    padding-bottom: 70px;
}

.swiper-slide-active{
    border: #00FFFF 2px solid;
    box-shadow: 0 0 20px 10px #ffffff25;
    transform: scale(3);
}
.swiper-slide:hover{
    transform: scale(3);
}
.swiper-pagination-bullet{
    width: 16px;        
    height: 16px;
    margin: 0 8px !important;
    background-color: #00FFFF;
    border: #666666 2px solid;
}
    /* #endregion */


    @media screen and (max-width: 1400px){
        .new-item{
            width: 310px;
        }
    }


    @media screen and (max-width: 1024px){
        .new-item:last-child{
            display: none;
        }
        .new-item{
            width: 42vw;
        }
        .about{
            position: relative;
            /* background-color:unset; */
            background-image: url(../image/index/about1.png);
            background-position: center;
            background-size: cover;
        }
        .about-text{
            position: absolute;
            width: 50%;
            margin:0 auto;
            padding: 0;
        }
        .about-container{
            /* width: 100%; */
            height: 600px;
        }
        .about-img{
            display: none;
            /* width: 100%; */
            /* background-color: #fff; */
        }
        .swiper-button-prev , .swiper-button-next{
            display: none;
        }
    }


    @media screen and (max-width: 768px){
        
    }


    @media screen and (max-width: 515px){
        .banner-content p{
            width: 82%;
        }
        
        .new-item ~.new-item{
            display: none;
        }
        .new-item{
            width: 100%;
        }

        .about-text{
            position: absolute;
            width: 80%;
            margin:0 auto;
            padding: 0;
        }
    }