        /* #region product */
        .product{
            margin-top: 90px;
            padding-top: 60px;
            padding-bottom: 280px;
        }
        .product-container{
            display: flex;
            position: relative;
            justify-content: space-between;
        }
        .small-img{
            position: absolute;
            bottom: -125px;
            display: flex;
            gap: 25px;
            cursor: pointer;
        }
        .product-introduce{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 648px;
        }
        .introduce-header .dec{
            margin-top: 16px;
            margin-bottom: 37px;
        }
        .introduce-header h2{
            font-size: 36px;
        }
        .introduce-header h5{
            margin-bottom: 30px;
        }

        .introduce-footer .count-box{
            margin-top: 20px;
            margin-bottom: 32px;
            width: fit-content;
            display: flex;
            align-items: center;
            border: 1px solid #ccc;
            padding: 5px 10px;
            border-radius: 4px;
            font-size: 20px;
            gap: 15px;
            background: white;
        }
        .count-box .bt {
            border: none;
            background: none;
            font-size: 24px;
            cursor: pointer;
            padding: 0 5px;
        }
        .count-box .value {
            width: 40px;
            text-align: center;
            font-size: 20px;
            color: black;
        }
        .introduce-footer .dnt{
            color: #B1ABAB;
            text-decoration:line-through;
            font-weight: bold;
        }
        .introduce-footer h3{
            margin-bottom: 20px;
            color: #FF0066;
        }
        .introduce-footer .btn{
            width: 320px;
        }
        /* #endregion */

        /* #region intro */
        .intro{
            padding: 100px 0;
            text-align: center;
        }
        .intro-text{
            width: 600px;
            margin: 0 auto;
            margin-bottom: 100px;
        }
        .intro-text h3{
            margin-bottom: 70px;
            color: #FF0066;
        }
        .intro-cards{
            display: flex;
            justify-content: center;
            gap: 40px;
        }
        .intro-card{
            box-sizing: border-box;
            width: 300px;
            border: #00FFFF 1px solid;
            background-color: #000;
            border-radius: 10px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .intro-card img{
            margin-bottom: 10px;
            width: 60px;
            height: 60px;
        }
        .intro-card p{
            font-size: 24px;
            font-weight: bold;
        }
        /* #endregion */

        /* #region wireless */
        .wireless{
            padding: 160px;
        }
        .wireless-box{
            display: flex;
            justify-content: space-between;
        }
        .wireless-text{
            width: 650px;
            display: flex;
            gap: 20px;
            flex-direction: column;
            justify-content: center;
        }
        /* #endregion */

        /* #region dpi */
        .dpi{
            padding: 160px;
        }
        .dpi-box{
            display: flex;
            justify-content: space-between;
        }
        .dpi-text{
            width: 650px;
            display: flex;
            gap: 20px;
            flex-direction: column;
            justify-content: center;
        }
        .dpi-img{
            transform: translateX(120px);
        }
        /* #endregion */

        /* #region switch */
        .switch{
            padding: 160px;
        }
        .switch-box{
            display: flex;
            justify-content: space-between;
        }
        .switch-img{
            transform: translate(-120px);
        }
        .switch-text{
            width: 650px;
            display: flex;
            gap: 20px;
            flex-direction: column;
            justify-content: center;
        }
        /* #endregion */

        /* #region light */
                .light{
            padding: 160px;
        }
        .light-box{
            display: flex;
            justify-content: space-between;
        }
        .light-text{
            width: 650px;
            display: flex;
            gap: 20px;
            flex-direction: column;
            justify-content: center;
        }
        /* #endregion */