/* #region product */
.product{
    margin-top: 90px;
    padding-top: 100px;
    padding-bottom: 240px;
}
.product-container{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.product-img{
    position: relative;
}
.large-img{
    height: 450px;
    width: 450px;
    border-radius: 10px;
    overflow: hidden;
}
.large-img img{
    height: 100%;
}
.magnifier{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(100, 100, 100, 0.3);
    width: 150px;
    height: 150px;
    border-radius: 10px;
    display: none;
    /* 不加會有bug */
    pointer-events:none
}
.showImg{
    background-image: url(../image/introduce/large0.png);
    background-size: 1350px 1350px;
    width: 450px;
    height: 450px;
    position: absolute;
    top: 0;
    left: 500px;
    border-radius: 10px;
    display: none;
}
.large-img:hover .showImg{
    display: block;
}
.large-img:hover .magnifier{
    display: block;
}
.small-img{
    position: absolute;
    bottom: 0px;
    display: flex;
    gap: 12px;
    cursor: pointer;
}
.small-img a{
    height: 80px;
    width: 80px;
    border-radius: 4px;
    /* box-sizing: border-box; */
}
.small-img a.active{
    box-sizing: border-box;
    border: #00FFFF 1px solid;
}
.small-img img{
    width: 100%;
    height: 100%;
}
.small-img a:hover{
    box-sizing: border-box;
    border: #00FFFF 1px solid;
}
.product-introduce{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    width: 500px;
}
.introduce-header .dec{
    margin-top: 10px;
    margin-bottom: 20px;
}
.introduce-header h2{
    font-size: 36px;
}
.introduce-header h5{
    margin-bottom: 30px;
}

.introduce-footer .count-box{
    margin-top: 20px;
    margin-bottom: 32px;
    width: fit-content;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 20px;
    gap: 15px;
    background: white;
}
.count-box .bt {
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0 5px;
}
.count-box .value {
    width: 40px;
    text-align: center;
    font-size: 20px;
    color: black;
}
.introduce-footer .dnt{
    color: #B1ABAB;
    text-decoration:line-through;
    font-weight: bold;
}
.introduce-footer h3{
    margin-bottom: 20px;
    color: #FF0066;
}
.introduce-footer .btn{
    width: 320px;
}
/* #endregion */

/* #region intro */
.intro{
    padding: 100px 0;
    text-align: center;
}
.intro-text{
    width: 600px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.intro-text h3{
    margin-bottom: 70px;
    color: #FF0066;
}
.intro-cards{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.intro-card{
    box-sizing: border-box;
    width: 300px;
    border: #00FFFF 1px solid;
    background-color: #000;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.intro-card img{
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
}
.intro-card p{
    font-size: 24px;
    font-weight: bold;
}
/* #endregion */

/* #region wireless */
.wireless{
    padding: 160px 0;
}
.wireless-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wireless-img{
    width: 550px;
}
.wireless-img img{
    width: 100%;
}
.wireless-text{
    width: 650px;
}
.wireless-text h2{
    margin-bottom: 20px;
}
/* #endregion */

/* #region dpi */
.dpi{
    padding: 160px 0;
}
.dpi-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dpi-text{
    width: 500px;
}
.dpi-text h2{
    margin-bottom: 20px;
}
.dpi-img{
    width: 700px;
}
.dpi-img img{
    width: 100%;
    /* object-fit: cover; */
}

/* #endregion */

/* #region switch */
.switch{
    padding: 160px 0;
}
.switch-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.switch-img{
    width: 600px;
}
.switch-img img{
    width: 100%;
}
.switch-text{
    width: 650px;
}
.switch-text h2{
    margin-bottom: 20px;
}
/* #endregion */

/* #region light */
.light{
    padding: 160px 0;
}
.light-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.light-img{
    width: 550px;
}
.light-img img{
    width: 100%;
}
.light-text{
    width: 650px;
}
.light-text h2{
    margin-bottom: 20px;
}
/* #endregion */


/* 輪播圖 */
.swiper {
    width: 100%;
    height: fit-content;
    display: none;
}

.swiper-slide {
    text-align: center;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 60%;
    /* height: 100%; */
    object-fit: cover;
}
.swiper-pagination-bullet{
    width: 16px;        
    height: 16px;
    margin: 0 8px !important;
    background-color: #00FFFF;
    border: #666666 2px solid;
}


@media screen and (max-width: 1400px){

    .wireless-text{
        width: 500px;
    }
    .wireless-img{
        width: 450px;
    }

    .dpi-text{
        width: 500px;
    }
    .dpi-img{
        width: 450px;
    }

    .switch-text{
        width: 500px;
    }
    .switch-img{
        width: 450px;
    }

    .light-text{
        width: 500px;
    }
    .light-img{
        width: 450px;
    }
}

@media screen and (max-width: 1024px){
    .product{
        padding-top: 30px;
        background-color: #000;
    }
    
    .product-img{
        display: none;
    }
    .swiper {
      display: block;
    }
    .product-introduce{
        width: 100%;
    }
}
