        /* #region banner區塊 */
        .banner {
            background-image: url(../image/support/banner.png);
            background-size: cover;
            background-position: center;
            height: 320px;
            margin-top: 90px;
            position: relative;
        }

        .banner h1 {
            position: absolute;
            left: 300px;
            bottom: 30px;

        }
        /* #endregion */

        /* #region 服務介紹 */
        .info {
            padding-top: 120px;
        }

        .info-card {
            box-sizing: border-box;
            border: 2px solid #fff;
            border-radius: 10px;
            padding: 48px;
            font-size: 20px;
        }

        .info-card:first-child {
            margin-bottom: 52px;
        }

        .info-card p {
            margin-top: 10px;
            font-size: 20px;
        }

        .info-card ul li {
            list-style: disc;
        }

        .info-card ol li {
            list-style: decimal;
            margin-left: 40px;
        }
        /* #endregion */

        /* #region 標語 */
        .slogan h2+h2 {
            margin-top: 40px;
            text-align: end;
        }

        .slogan {
            
            background-image: url(../image/support/sloganImg.png);
            background-size: cover;
            background-position: center;
            height: 800px;
            margin-top: 100px;
            margin-bottom: 200px;
        }
        .slogan .mask{
            background-color: #0000008c;
            height: 100%;
            display: flex;
            align-items: center;
        }
        /* #endregion */


        /* #region 聯絡我們 */
        .contact {
            text-align: center;
        }

        .contact>p {
            margin: 30px 0 60px 0;
        }

        .contact-container {
            display: flex;
            justify-content: center;
            gap: 100px;
        }

        .contact-container .card {
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;
        }
        .contact-container .card img{
            width: 100px;
        }
        .contact-container .decline {
            width: 1px;
            height: 300px;
            background-color: #7D7D7D;
        }

        .location {
            padding: 50px 0 180px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 100px;
            text-align: start;
        }

        .location h3 {
            color: #FF0066;
            font-size: 32px;
            margin-bottom: 32px;
        }
        /* #endregion */


        /* #region 表單 */
        .form-section{
            padding: 140px 0;
            display: flex;
            justify-content: center;

        }

        .form-container {
            background-color: #7D7D7D;
            width: 1371px;
            border-radius: 10px;
            border: #fff solid 1px;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 30px 0;
        }

        .form {
            padding: 30px 22px 35px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 29px 0;
        }

        input {
            /* margin-top: 9px; */
            width: 650px;
            height: 50px;
            box-sizing: border-box;
            font-size: 20px;
            padding-left: 10px;
        }

        label textarea {
            padding: 10px;
            resize: none;
            font-size: 20px;
        }

        label p {
            margin-bottom: 9px;
            font-size: 20px;
        }

        /* #endregion */