        /* #region banner區塊 */
        .banner {
            background-image: url(../image/support/banner.png);
            background-size: cover;
            background-position: center;
            height: 320px;
            margin-top: 90px;
            position: relative;
        }

        .banner h1 {
            position: absolute;
            left: 15vw;
            bottom: 30px;

        }
        /* #endregion */

        /* #region 服務介紹 */
        .info {
            padding-top: 120px;
        }

        .info-card {
            box-sizing: border-box;
            border: 2px solid #fff;
            border-radius: 10px;
            padding: 48px;
            font-size: 20px;
        }

        .info-card:first-child {
            margin-bottom: 52px;
        }

        .info-card p {
            margin-top: 10px;
            font-size: 20px;
        }

        .info-card ul li {
            list-style: disc;
        }

        .info-card ol li {
            list-style: decimal;
            margin-left: 40px;
        }
        /* #endregion */

        /* #region 標語 */
        .slogan h2+h2 {
            margin-top: 40px;
            text-align: end;
        }

        .slogan {
            
            background-image: url(../image/support/sloganImg.png);
            background-size: cover;
            background-position: center;
            height: 800px;
            margin-top: 100px;
            margin-bottom: 200px;
        }
        .slogan .mask{
            background-color: #0000008c;
            height: 100%;
            display: flex;
            align-items: center;
        }
        /* #endregion */


        /* #region 聯絡我們 */
        .contact {
            text-align: center;
        }

        .contact>p {
            margin: 30px 0 60px 0;
        }

        .contact-container {
            display: flex;
            justify-content: center;
            gap: 100px;
        }

        .contact-container .card {
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;
        }
        .contact-container .card img{
            width: 100px;
        }
        .contact-container .decline {
            width: 1px;
            height: 300px;
            background-color: #7D7D7D;
        }

        .location {
            padding: 50px 0 180px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 100px;
            text-align: start;
        }

        .location h4 {
            color: #FF0066;
            /* font-size: 32px; */
            margin-bottom: 10px;
        }
        /* #endregion */


        /* #region 表單 */
        .form-container {
            box-sizing: border-box;
            margin: auto;
            /* background-color: #7D7D7D; */
            background-color: #353535;
            border-top: #8a8a8a solid 1px;
            border-bottom: #00ffff solid 1px;
            padding: 60px;
        }
        
        .form-section h2{
            text-align: center;
            color: #fff;
            margin-bottom: 40px;
        }
        

        .form {
            padding: 10px 0 30px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 20px 0;
        }
        .form label{
            width: 48%;
        }
        .form-container input {
            /* margin-top: 9px; */
            /* width: 600px; */
            width: 100%;
            height: 42px;
            box-sizing: border-box;
            /* font-size: 16px; */
            padding-left: 10px;
            border-radius: 4px;
            font-family: "Noto Sans TC", sans-serif;
            letter-spacing: 0.1rem;
            background-color: unset;
            color: #fff;
            box-shadow: none ;
            border: none;
            border: 1px #8a8a8a solid;
        }

        #address{
            width: 100%;
            /* border: #FF0066 1px solid; */
        }
        #address textarea {
            box-sizing: border-box;
            width: 100%;
            padding: 10px;
            resize: none;
            font-size: 16px;
            border-radius: 4px;
            font-family: "Noto Sans TC", sans-serif;
            letter-spacing: 0.1rem;
            background-color: unset;
            color: #fff;
            box-shadow: none;
            border: 1px #8a8a8a solid;
        }

        label p {
            margin-bottom: 6px;
            font-size: 16px;
        }
        .form-container .btn{
            margin: auto;
            width: 200px;
        }

        /* #endregion */


        @media screen and (max-width: 1024px){
            .form-container input{
                font-size: 16px;
            }
        }
        @media screen and (max-width: 900px){
            .contact>p{
                width: 80%;
                margin:30px auto 60px ;
            }
            .contact-container{
                flex-direction: column;
                align-items: center;
                margin-bottom: 100px;
            }
            .contact-container .decline{
                display: none;
            }
            .location{
                flex-direction: column;
                gap: 20px;
            }
            .location .text{
                text-align: center;
                order: 2;
            }
            .location .map{
                width: 80vw;
            }
            .location .map iframe{
                width: 100%;
            }
        }
        @media screen and (max-width: 768px){
            .form label{
                width: 100%;
            }
        }